main {
    padding: 20px 10%;
}

.back {
    color: #686e74;
    font-size: 0.8rem;
}

.hed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}


/*カードリスト*/
.card-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card-item {
    border: solid 1px #000;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.card-item p {
    font-weight: bold;
    font-size: 0.8rem;
    height: 40px;
}

.image-area {
    height: 150px;
}

.card-image {
    display: inline-block;
    margin-bottom: 5px;
}

.price-area {
    display: flex;
    justify-content: center;
    column-gap: 4px;
    height: 20px;
}

.price-area .purchase {
    color: #ff2d2d;
    font-weight: bold;
    font-size: 14px;
}

.price-area .sale {
    color: #0066ff;
    font-weight: bold;
    font-size: 14px;
}

.add-btn {
    background-color: #0070d8;
    color: #fff;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 20px;
    margin-top: 10px;
}

.add-btn:hover {
    background-color: #379bf8;
}

/*ページネーション*/
.pagination {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-top: 12px;
}

.num-btn {
    margin-right: 8px;
}

.num-btn:last-child {
    margin-right: none;
}
