/*form*/
.name-input {
    border: solid 1px #2c2c2c;
    font-size: 0.9rem;
    margin-right: 10px;
    padding: 3px;
    border-radius: 5px;
}

.submit-btn {
    background-color: #686e74;
    color: #fff;
    padding: 3px 16px;
    border-radius: 5px;
}